<form class="login__form"  (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="login row m-0">
    <div class="col-md-6 col-sm-12 col-12 p-0">
      <div class="left">
        <img
          class="left__logo-img mb-4"
          src="../../../assets/images/logo.svg"
        />
        <h4 class="mb-5">Hello! Welcome Back</h4>
        <span class="p-input-icon-left mb-4">
          <i class="pi"
            ><span class="material-symbols-outlined"> person </span></i
          >
          <input
            type="text"
            pInputText
            placeholder="Username"
            formControlName="UserName"
          />
          <span
            class="error-validation"
            *ngIf="submitted && form['UserName'].errors"
            >Field_Requierd</span
          >
        </span>
        <span class="p-input-icon-left mb-4">
          <i class="pi"
            ><span class="material-symbols-outlined"> lock </span></i
          >
          <input
            type="password"
            pInputText
            placeholder="Password"
            formControlName="Password"
          />

          <span
            class="error-validation"
            *ngIf="submitted && form['Password'].errors"
            >Field_Requierd</span
          >
        </span>
        <div class="left__link mb-4" (click)="gotoForgetPassword()">
          Forget Password?
        </div>
        <!-- <button class="left__button mb-4" >Login</button> -->
        <p-button
          type="Submit"
          class="left__button mb-4 btn-primary"
          label="Login"
          [loading]="loading"
        ></p-button>


        <div class="left__small-text mb-4 pb-4">
          <span class="left__small-text mb-4"
            >Don't have an account?&nbsp;</span
          >
          <span class="left__small-text--link mb-4" (click)="goToSignUp()"
            >Sign Up</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12 p-0">
      <div class="right">
        <img class="right__stars-top" src="../../../assets/images/stars.svg" />
        <!-- <img
          class="right__login-img mb-4"
          src="../../../assets/images/login-01.svg"
        /> -->
        <h3 class="mb-4">Welcome to Point of Sale</h3>
        <p>Lorem ipsum dolor sit amet, elit, tempor incid dolore magna</p>

        <img
          class="right__stars-bottom"
          src="../../../assets/images/stars.svg"
        />
      </div>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>
