@import "../../../../../assets/scss/varialbles.scss";

.categories {
    padding: 1rem 1rem 1rem 0rem;
    position: relative;
    margin-inline-start: -1rem;

    &:lang(ar){
      padding: 1rem 0 1rem 1rem;
    }

  ::ng-deep .p-accordion {
    & .p-accordion-header {
      display: flex;
      justify-content: flex-end;
      margin-top: -3rem;

      &:lang(ar) {
        right: unset;
        left: 2rem;
        direction: ltr;
        position: absolute;
        top: 4rem;
      }

      & .p-accordion-header-link {
        padding: 0.5rem 0.75rem;
        border-radius: 6px;
        background-color: $white-color;
        border-color: $light-gray;
        top: 1px;
        color: $primary-color;
        right: 0.75rem;

        & chevronrighticon,
        & chevrondownicon {
          display: none;
        }

        &:lang(ar){
          top: 0;
          right: 0;
        }
      }
    }

    & .p-accordion-content {
      border-radius: 6px;
      position: relative;
      top: 0.75rem;
      padding: 0 0rem 0.75rem;
      border: none;
      border: 1px solid $lighter-gray;
      margin: 0.5rem .75rem 0.5rem 0;
    }
  }

  & .filter-title{
    display: flex;
    align-items: center;
    border-inline-end: 1px solid rgba($light-purple, .5);
    margin-top: 0.75rem;
    width: 12%;
    justify-content: space-evenly;

    & .material-symbols-outlined{
      color: $blue-color;
      top: 0;
    }
  }

  & .filter-field{
    display: flex;

    & label{
      display: flex;
      align-items: center;
      margin-inline-end: .5rem;
    }

    & p-dropdown, & p-calendar{
      flex-grow: 2;
    }
  }

  &__search {
    margin-inline-end: 4.5rem;

    & .search-field{
      border-color: $light-gray;
    }
  }

  &__tabView {
    position: relative;
    top: -1rem;
    max-width: 100%;

    @media (min-width: 992px) {
      position: absolute;
      top: 0.8rem; // Desktops and large screens
    }

    & ::ng-deep .p-tabview-nav{
      padding-inline-start: 0;
      padding-inline-end: 2.5rem;
    }

    & ::ng-deep .p-tabview .p-tabview-nav-btn.p-link{
      background-color: $lighter-gray-2;
      color: $primary-color;
      box-shadow: unset;
      top: -5px;
    }
  }


  & .card {
    background-color: $white-color;
    border-radius: 6px;
    border-color: rgba($light-purple, .5);
    position: relative;

    &__edit{
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 1;
      transition: .2s;
      opacity: 0;
      cursor: pointer;

      & .material-symbols-outlined{
        color: $secondary-color;
      }

      &:lang(ar){
        right: unset;
        left: 1rem;
      }
    }

    &__header {
      background-color: $blue-color;
      height: 6px;
      border-radius:6px 6px 0px 0px;
      border-color: $blue-color;

      .material-symbols-outlined {
        font-size: $small-icon;
        top: 3px;
      }

      &--title {
        color: $black-color;
        font-size: $large-font;
        font-family: myfont-bold;
      }

      &--status {
        font-size: 10px;
        background-color: $green-color;
        padding: 0.25rem 0.5rem;
        text-align: center;
        width: fit-content;
        border-radius: 20px;
        color: $white-color;
      }

      &--active {
        background-color: $green-color;
      }

      &--inactive {
        background-color: $light-gray;
      }
    }

    &__content {

      & .material-symbols-outlined {
        color: $blue-color;
        font-size: $medium-icon;
        top: 5px;
      }

      &--info {
        color: $light-gray;
        background-color: $lighter-gray-2;
        border-top: 1px solid $lighter-gray;
        margin-top: 1rem;
        padding: .5rem 1rem;
        border-radius: 0 0 6px 6px;
      }
    }

    &__img{
      background-color: rgba($primary-color, 0.15);
      border-radius: 50%;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 50px;
    }

    &:hover{
      & .card__edit{
        opacity: 1;
      }
    }
  }

  & .add-button {
    width: 60px;
    height: 60px;
    font-size: $large-icon;
    border-radius: 50%;
    color: $white-color;
    border: none;
    position: fixed;
    top: calc(100vh - 85px);
    right: 1.5rem;
    background-color: $primary-color;

    &:lang(ar){
      right: unset;
      left: 1.5rem;
    }
  }

  .p-component{
    background-color: $white-color;
  }
}
 
//responsive

@media screen and (max-width: 990px) {
  .filter-title{
    width: 100% !important;
    justify-content: start !important;
  }
}