@font-face {
    font-family: myfont;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: myfont;
    src: url(../fonts/Roboto-Regular.eot);
}

@font-face {
    font-family: myfont-semibold;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: myfont-semibold;
    src: url(../fonts/Roboto-Medium.eot);
}

@font-face {
    font-family: myfont-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: myfont-bold;
    src: url(../fonts/Roboto-Bold.eot);
}