<div class="categories">
    <div class="categories__item">
        <span class="categories__icon material-symbols-outlined">tune</span>
        <span class="categories__title">Filter</span>
    </div>
    <div class="categories__item active">
        <span class="categories__icon material-symbols-outlined">apps</span>
        <span class="categories__title">All</span>
        <span class="categories__count">49 Items</span>
    </div>
    <div class="categories__item">
        <img src="../../../../../assets/images/POS/main-course.svg">
        <span class="categories__title">Main Course</span>
        <span class="categories__count">10 Items</span>
    </div>
    <div class="categories__item">
        <img src="../../../../../assets/images/POS/sandwich.svg">
        <span class="categories__title">Sandwiches</span>
        <span class="categories__count">12 Items</span>
    </div>
    <div class="categories__item">
        <img src="../../../../../assets/images/POS/side-order.svg">
        <span class="categories__title">Side Orders</span>
        <span class="categories__count">7 Items</span>
    </div>
    <div class="categories__item">
        <img src="../../../../../assets/images/POS/dessert.svg">
        <span class="categories__title">Desserts</span>
        <span class="categories__count">8 Items</span>
    </div>
    <div class="categories__item">
        <img src="../../../../../assets/images/POS/drinks.svg">
        <span class="categories__title">Drinks</span>
        <span class="categories__count">8 Items</span>
    </div>
</div>
