@import "../../../assets/scss/varialbles.scss";

.header{
    background-color: $white-color;
    height: 57px;
    border-bottom: 1px solid $lighter-gray;
    position: relative;
    z-index: 1;

    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        & .company-name{
            font-family: myfont-bold;
            color: $primary-color;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            font-size: $h5-size;
            margin-inline-start: 1rem;
            height: 57px;
            width: 30%;

            & .branch-name{
                color: $black-color;
                border-inline-start: 1px solid $lighter-gray;
                padding-inline-start: 1rem;
                margin-inline-start: 1rem;
                font-size: $normal-font;
                font-family: myfont-bold;
                height: 24px;
                top: .25rem;
                position: relative;
            }
        }
    }

    &__tools{
            display: flex;
            width: 48%;
            align-items: center;

            & span{
                padding: .2rem;
                
            }

            & .material-symbols-outlined{
                margin-inline-start: .5rem;
                cursor: pointer;
                transition: .2s;
                color: $primary-color;
                border: 1px solid $lighter-gray;
                border-radius: 6px;
                padding: .4rem;
                top: 0;

                &:hover{
                    opacity: .7;
                }
            }

            & .search__item{
                width: 50%;
            }

            & .p-input-icon-left{
                &::ng-deep .p-component{
                    padding: .5rem 2.5rem;
                    background-color: $bg-color;
                }
            }
    }

    & .profile{
        display: flex;
        width: 20%;
        justify-content: flex-end;
        padding: .5rem 1rem .5rem 0;

        &:lang(ar){
            padding: .5rem 0 .5rem 1rem;
        }

        & .material-symbols-outlined{
            color: $blue-color;
            border-inline-end: 1px solid $lighter-gray;
            padding-inline-end: .5rem;
            margin-inline-end: .5rem;
            height: 20px;
            cursor: pointer;
            transition: .2s;

            &.fill{
                border: none;
                padding: unset;
                margin: unset;
            }

            &:hover{
                opacity: .6;
            }
        }

        & .registered-user{
            margin-inline-start: .25rem;
        }

        & .cart-container{
            position: relative;
        }

        & .cart-container{
            display: none;
        }

        & .counter{
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: $white-color;
            background-color: $red-color;
            text-align: center;
            top: -5px;
            left: 8px;

            &:lang(ar){
                left: unset;
                right: 8px;
            }
        }
    }

    &:lang(ar){
        padding: 0;
    }

    
}

//responsive
@media screen and (max-width: 991px) {
    .cart-container{
        display: inline-block !important;
    }
}

@media screen and (max-width: 768px) {
    .header{
        height: 120px;
    }
    .company-name{
        width: 100% !important;
    }

    .header__tools{
        width: 70%;
        padding: 0 1rem;
        & .search__item{
            width: 70%;
        }
    }

    .profile{
        width: 30% !important;
    }
}

@media screen and (max-width: 430px) {
    .header{
        height: 150px;
    }

    .header__tools{
        width: 100%;
        padding: 0 1rem;
        & .search__item{
            width: 70%;
        }
    }

    .profile{
        width: 100% !important;
    }
}