  <!-- <div class="info-card">
    <div class="info-card__count">
     
      <ng-container *ngIf="!cardloading; else card">
        <span [ngClass]="cardIcon"> social_leaderboard </span>
        {{cardValue}}
      </ng-container> 
     
    </div>
    <div class="info-card__title">{{cardName}}</div>
  </div>


  <ng-template #card>

     <p-skeleton height="2rem"></p-skeleton> 

  </ng-template> -->

  
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4">
    <div class="info-card">
      <div class="info-card__count">
        <p-skeleton height="2rem"></p-skeleton> 
      </div>
     
    </div>

  </div>