@import "../../../../../assets/scss/varialbles.scss";

.add-role {

  & table {
    border-collapse: collapse;
    width: 100%;

    & td,
    th {
      font-size: $normal-font;
      color: $gray-color;
      border: none;
      text-align: left;
      padding: 0.6rem;
    }

    & tr:nth-child(even) {
      background-color: rgba($gray-color, 0.08);
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  & .box-shadow {
    border: 1px solid $lighter-gray;
    border-radius: 6px;
    padding: 1.7rem;
    background-color: $white-color;
  }

  & .side-icon {
    background-color: $chips-color;
    color: $blue-color;
    margin-right: 1rem;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    position: relative;
    left: -2rem;
    min-width: 220px;
    top: -1rem;
    width: unset;

    & .material-symbols-outlined {
      margin-inline-end: .5rem;
    }

    &__icon{
      position: relative;
      top: -0.25rem;
      padding: 0.5rem;
    }

    &:lang(ar){
      left: unset;
      right: -3rem;
    }
  }


  & .switch-button {
    display: flex;
    align-items: center;
  }
}