<form>
    <div class="add-employee">
  
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="col-12 side-icon">
            <span class="material-symbols-outlined"> contact_phone </span>
            <span>Contact Info</span>
          </div>
          <div class="col-12 row m-0 p-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" />
                <label>Name En</label>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" />
                <label>Name Ar</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="email"/>
                <label>Email</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="custom-field p-float-label p-input-icon-right">
                <i class="pi custom-field__icon">
                  <span class="material-symbols-outlined"> phone </span></i
                >
                <input
                  class="custom-field__input"
                  pInputText
                  type="tel"
                  placeholder="07"
                />
                <label> Phone</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <p-calendar
                  [showIcon]="true"
                ></p-calendar>
                <label>Birth Date</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <p-dropdown
                  placeholder="select"
                ></p-dropdown>
                <label>Gender</label>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" />
                <label>Password</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="side-icon col-12">
            <span class="material-symbols-outlined"> badge </span>
            <span>Role</span>
          </div>
          <div class="col-12 row m-0 p-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <p-dropdown
                  placeholder="select"
                ></p-dropdown>
                <label>Role</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <p-dropdown
                  placeholder="select"
                ></p-dropdown>
                <label>Branch</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <p-dropdown
                  placeholder="select"
                ></p-dropdown>
                <label>Manager</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text"/>
                <label>National Number</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" />
                <label>Job</label>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="side-icon col-12">
            <span class="material-symbols-outlined">add_photo_alternate </span>
            <span>Upload User's Image</span>
          </div>
          <div class="col-12">
            <app-img-control>
          </app-img-control>
          </div>
        </div>
      </div>
  
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="side-icon col-12">
            <span class="material-symbols-outlined"> edit_note </span>
            <span>Notes</span>
          </div>
          <div class="col-12">
            <div class="col p-float-label p-0 mb-3">
              <textarea
                rows="3"
                pInputTextarea
              ></textarea>
              <label>Description Ar</label>
            </div>
            <div class="col p-float-label p-0">
              <textarea
                rows="3"
                pInputTextarea
              ></textarea>
              <label>Description En</label>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="side-icon col-12">
            <span class="material-symbols-outlined"> check_circle </span>
            <span>Status</span>
          </div>
          <div class="col-12 switch-button">
            <p-inputSwitch formControlName="isActive"></p-inputSwitch>
            Active
          </div>
        </div>
      </div>
  
      <div class="col-xs-12 text-end mt-4">
        <p-button
          type="Submit"
          class="btn-primary"
          label="Save"
        ></p-button>
      </div>
    </div>
  </form>