@import "../../../../../assets/scss/varialbles.scss";

.header-admin{
    display: flex;
    background-color: $white-color;
    height: 57px;
    border-bottom: 1px solid $lighter-gray;
    position: relative;
    z-index: 1;

    & .company-name{
        font-family: myfont-bold;
        color: $primary-color;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        font-size: $h5-size;
        margin-inline-start: 1rem;
        height: 57px;
        width: 100%;

        & .branch-name{
            color: $black-color;
            border-inline-start: 1px solid $lighter-gray;
            padding-inline-start: 1rem;
            margin-inline-start: 1rem;
            font-size: $normal-font;
            font-family: myfont-bold;
            height: 24px;
            top: .25rem;
            position: relative;
        }
    }

    &__container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 2rem .5rem 1rem;
    }

    &__tools{
            color: $blue-color;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            & span{
                margin-inline-start: .5rem;
                cursor: pointer;
                transition: .2s;
                padding: .2rem;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 30px;

                &:hover{
                    opacity: .7;
                }
            }

            & .registered-user{
                color: $black-color;
            }
    }

    & .profile{
        display: flex;
        cursor: pointer;

        & .registered-user{
            margin-inline-end: -1rem;
            font-family: myfont-semibold;
            border-inline-start: 1px solid #b4b1b1;
            padding-inline-start: 1rem;

            &:lang(ar){
                margin-inline-end: unset;
            }
        }
    }

    &:lang(ar){
        padding: 0;
    }
}