<div class="header-admin">
    <div class="company-name">
        POS System
        <span class="branch-name">ِAdmin</span>
      </div>
    <div class="header-admin__container">
      <div class="header-admin__tools">
        <span class="material-symbols-outlined"
          >language</span
        >
        <div class="profile" [matMenuTriggerFor]="menu">
          <div class="profile__image">
            <span class="registered-user">Karam Tariq</span>
            <span class="material-symbols-outlined"> arrow_drop_down </span>
          </div>
  
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span class="material-symbols-outlined">account_circle</span>
              My Profile
            </button>
            <button mat-menu-item>
              <span class="material-symbols-outlined">logout</span>
              Logout
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  