@import "../../../../assets/scss/varialbles.scss";
//upload Image

.upload-images{
    
    &__button{
        width: 100%;
        min-height: 170px;
        background-color: $bg-color;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 11px;
        border-color: $secondary-color;
        cursor: pointer;

        & .material-symbols-outlined{
            font-size: 60px;
            color: $secondary-color;
        }

        & P{
            width: 100%;
            text-align: center;
            margin-top: .5rem;
        }

        & .material-symbols-outlined{
            color: $primary-color;
        }
    }

    &__file{
        background-color: $bg-color;
        padding: 0.2rem .5rem;
        margin-top: 1rem;
        position: relative;
        border-radius: 10px;

        & .file-thumbnail{
            //width: 35px;
            height: 50px;
            //clip-path: inset(8px 0px);
            display: inline-block;
            margin-inline-end: .5rem;

            & img{
                height: 100%;
            }
        }
        
        & .file-name{
            margin-inline-end: .5rem;

            &:lang(ar){
                display: inline-block;
            }
        }

        & .file-size{
            opacity: .6;
        }

        & .file-delete{
            position: absolute;
            top: .75rem;
            right: 1rem;
            color: $secondary-color;
            cursor: pointer;

            &:lang(ar){
                right: unset;
                left: 1rem;
            }
        }

        &:lang(ar){
            direction: rtl;
        }
    }


    .file-input {
        display: none;
      }

      & .side-icon {
        background-color: $bg-color;
        color: $secondary-color;
        font-size: $large-icon;
        width: 45px;
        height: 45px;
        margin-right: 1rem;
        border-radius: 10px;
    
        & .material-symbols-outlined {
          top: 8px;
        }
      }
}